<div class="container">
  <div class="row row2">
    <div class="col-md-6">
      <form [formGroup]="postForm" (ngSubmit)="onCreatePosts()">
        <div class="form-group">
          <label>Name*</label>
          <input type="text" class="form-control" [disabled]="postForm.get('name').disabled" formControlName="name">
        </div>
        <div class="form-group">
          <label>Password*</label>
          <input type="password" class="form-control" [disabled]="postForm.get('password').disabled" formControlName="password">
        </div>
        <!-- <div class="form-group">
          <label for="">Message*</label>
          <textarea name="" id="" cols="30" rows="3" class="form-control" [disabled]="enable"></textarea>
        </div> -->
        <div class="form-group">
          <label for="">Message*</label>
          <div class="card flex justify-content-center" >
          <textarea pKeyFilter="int" rows="3" cols="4" pInputTextarea></textarea>
        </div>
        </div>
        <div class="row">
          <div class="col-6 mt-3" style="padding-left:23px ;">
            <div > 
              <!-- Radio button name and formControlName should be same -->
              <label >
                 <input 
                   type="radio" 
                   name="viewAll" 
                   value="viewToMe" 
                   (click)="onEnableAuthorize('disable')" 
                   formControlName="viewAll">View only to me <br>
                 <input 
                   type="radio" 
                   name="viewAll" 
                   value="viewAll"
                   (click)="onEnableAuthorize('enable')"
                   formControlName="viewAll">View to all
              </label>
           </div>
          </div>
           <div class="col-6">
             <div class="form-group">
                <label for="">Date</label>
                <input type="date" class="form-control">
             </div>
           </div>
        </div>
        <div class="form-group">
          <input type="checkbox" name="check" id="" >
          <label for="check" class="form-check-label">CheckBox*</label>
        </div>
        <div class="mt-3">
          <button 
            class="btn btn-primary" 
            type="submit"
            [disabled]="enable">Share
            <mat-icon style="font-size: small;">
              share
            </mat-icon>
          </button>
        </div>
      </form>
    </div>
    <div class="row displayField" *ngIf="displayResults">
      <div>Name: {{name}}</div>
      <div>Password: {{Password}}</div>
    </div>
  </div>
<!-- Template Form -->

  <div class="row">
    <div class="col-5">
      <form (ngSubmit)="onAddUser()" #signUpForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" ngModel #email="ngModel" required>
        </div>
        <!-- <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" >
        </div> -->
        <!-- <div class="row rowpassword">
          <label for="password">Password</label>
          <div class="col-10">
            <input matInput [type]="hide ? 'password' : 'text'" class="form-control" name="password" ngModel #password="ngModel" required >           
          </div>
          <div class="col-2" style="margin-right: 12px;">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
        </div> -->
        <div class="form-group">
          <label for="password">Password</label>
          <div class="example-container">
             <div class="row">
              <mat-form-field>
                <input 
                  matInput 
                  [type]="hide ? 'password' : 'text'" 
                  class="form-control"  
                  style="padding: 10px;width: 95%;" 
                  name="password" 
                  ngModel 
                  #password="ngModel" 
                  required 
                  minlength="8"
                  (input)="getPasswordSpecialCase($event)">
                <button class="mat-button"
                  mat-icon-button 
                  matSuffix 
                  (click)="hide = !hide" 
                  [attr.aria-label]="'Hide password'" 
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
             </div>
          </div>
        </div>
        <span *ngIf="!password.valid && password.touched">Password should be atleast 8 digits</span>
        <span *ngIf="anySpecialCase">Password should be contains atleast one special case</span>
        <div class="form-group">
          <label for="fileType">File Type</label>
          <select 
            class="form-control" 
            name="" id="" 
            name="fileType" 
            #fileType="ngModel" 
            required
            [(ngModel)]="selectedFileType"
            (ngModelChange)="onFileSelected($event)"> 
            <option value="select">-Select-</option>
            <option value="image">Image</option>
            <option value="wordFile">Word file</option>
            <option value="excelSheet">Excel sheet</option>
            <option value="pdfFile">Pdf file</option>
            <option value="videoAttachment">Video attachment</option>
          </select>
          <span *ngIf="templateSpan">*Select atleast one field</span>
        </div>
        <div class="form-group">
          <button class="btn btn-success">New User</button>
        </div>

<!-- SelectedFileType -->
        <div *ngIf="selectedFileType === 'image'">
          <label for="imageType">Image Type:</label>
          <input type="text" id="imageType" name="imageType" class="form-control">
        </div>
        <div *ngIf="selectedFileType === 'wordFile' || selectedFileType === 'excelSheet' || selectedFileType === 'pdfFile'">
          <label>Download Options:</label><br>
          <label>
            <input type="radio" name="downloadOption" value="download"> Should be downloaded
          </label><br>
          <label>
            <input type="radio" name="downloadOption" value="notDownload"> Should not be downloaded
          </label>
        </div>
        <div *ngIf="selectedFileType === 'videoAttachment'">
          <label for="videoAttachment">Video Attachment:</label>
          <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
        </div>
      </form>
      
    </div>
  </div>
</div>




<!-- <mat-form-field> -->
  <!-- <mat-label>Snack bar duration (seconds)</mat-label> -->
  <!-- <input type="number" [(ngModel)]="durationInSeconds" matInput> -->
<!-- </mat-form-field> -->
<!-- <button mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
  Pizza party
</button> -->
