
img{
    width:200px;
    height: 200px;
  
  }  
  .row
  {
    background-image: url('https://previews.123rf.com/images/tomkhanong/tomkhanong1510/tomkhanong151000124/48171109-bamboo-left-side-green-background.jpg');
    height: 80vh;
    /* margin-top: 5%; */
    width: 1000px;
    margin-left: 8%;
   
    
  }
  .button{
    background-color: lightgreen;
  }