<div class="container-fluid" >
    <div class="row " >
      <div class="col-6 col-md-12">
        
     </div>
      <div class="col-6 col-md-12" style="margin-left: 70%;margin-top: 5%;">
        <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()"> 
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email">
            <mat-error *ngIf="signUpForm.get('email').hasError('required')">This Field is required</mat-error>
            <mat-error *ngIf="signUpForm.get('email').hasError('email')">Please enter valid email</mat-error>
          </mat-form-field><br>
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput formCo  ntrolName="password">
            <mat-error *ngIf="signUpForm.get('password').hasError('required')">This Field is required</mat-error>
          </mat-form-field><br><br>
          <button mat-raised-button class="button" [disabled]="signUpForm.invalid" >Sign Up</button>&nbsp;
        </form> 
      </div>
    </div>
  </div>


          <!-- <img id="img" style="margin-left: 30px;" src="https://previews.123rf.com/images/tomkhanong/tomkhanong1510/tomkhanong151000124/48171109-bamboo-left-side-green-background.jpg"> -->
